In [1]:
#coding utf-8
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
stadium = pd.read_csv("stadium.csv")
sample = pd.read_csv("sample_submit.csv", header=None)
cond = pd.read_csv("condition.csv")
cond_add = pd.read_csv("condition_add.csv")
data_2014 = pd.read_csv("2014_add.csv")
train_add = pd.read_csv("train_add.csv")

# いらない変数削除

In [3]:
train = train.drop("tv", axis=1)
train = train.drop("home", axis=1)
train = train.drop("away", axis=1)
train.head()

      id      y  year stage   match   gameday   time       stadium
0  13994  18250  2012    Ｊ１  第１節第１日  03/10(土)  14:04  ユアテックスタジアム仙台
1  13995  24316  2012    Ｊ１  第１節第１日  03/10(土)  14:04       豊田スタジアム
2  13996  17066  2012    Ｊ１  第１節第１日  03/10(土)  14:04       万博記念競技場
3  13997  29603  2012    Ｊ１  第１節第１日  03/10(土)  14:06  エディオンスタジアム広島
4  13998  25353  2012    Ｊ１  第１節第１日  03/10(土)  14:04         札幌ドーム

In [4]:
test = test.drop("tv", axis=1)
test = test.drop("home", axis=1)
test = test.drop("away", axis=1)
test.head()

      id  year stage    match   gameday   time         stadium
0  15822  2014    Ｊ１  第１８節第１日  08/02(土)  19:04    ユアテックスタジアム仙台
1  15823  2014    Ｊ１  第１８節第１日  08/02(土)  18:34  県立カシマサッカースタジアム
2  15824  2014    Ｊ１  第１８節第１日  08/02(土)  19:04     埼玉スタジアム２００２
3  15825  2014    Ｊ１  第１８節第１日  08/02(土)  19:03        日立柏サッカー場
4  15827  2014    Ｊ１  第１８節第１日  08/02(土)  19:03  デンカビッグスワンスタジアム

In [5]:
cond.head()

,id,home_score,away_score,weather,temperature,humidity,referee,home_team,home_01,home_02,...,away_02,away_03,away_04,away_05,away_06,away_07,away_08,away_09,away_10,away_11
0,13994,1,0,雨,3.8,66%,木村 博之,ベガルタ仙台,林 卓人,菅井 直樹,...,新井場 徹,岩政 大樹,中田 浩二,アレックス,青木 剛,増田 誓志,小笠原 満男,本山 雅志,大迫 勇也,ジュニーニョ
1,13995,1,0,屋内,12.4,43%,西村 雄一,名古屋グランパス,楢﨑 正剛,田中 隼磨,...,吉田 豊,岩下 敬輔,カルフィン ヨン ア ピン,李 記帝,村松 大輔,河井 陽介,枝村 匠馬,高木 俊幸,アレックス,大前 元紀
2,13996,2,3,晴一時雨,11.3,41%,高山 啓義,ガンバ大阪,藤ヶ谷 陽介,加地 亮,...,近藤 岳登,北本 久仁衛,伊野波 雅彦,相馬 崇人,三原 雅俊,田中 英雄,野沢 拓也,橋本 英郎,森岡 亮太,大久保 嘉人
3,13997,1,0,曇一時雨のち晴,11.4,52%,松尾 一,サンフレッチェ広島,西川 周作,森脇 良太,...,濱田 水輝,阿部 勇樹,槙野 智章,平川 忠亮,鈴木 啓太,山田 直輝,梅崎 司,柏木 陽介,原口 元気,田中 達也
4,13998,0,0,屋内,22.5,32%,廣瀬 格,コンサドーレ札幌,李 昊乗,高木 純平,...,駒野 友一,チョ ビョングク,藤田 義明,山本 脩斗,小林 裕紀,山本 康裕,山田 大記,松浦 拓弥,菅沼 実,前田 遼一

In [6]:
cond = cond.drop(["referee", "home_team", "home_01", "home_02", "home_03", "home_04", "home_05", "home_06", "home_07", "home_08",
                 "home_09", "home_10", "home_11", "away_01", "away_02", "away_02", "away_03", "away_04", "away_05", "away_06", "away_07",
                 "away_08", "away_09", "away_10", "away_11"], axis=1)

In [7]:
cond = cond.drop("away_team", axis=1)

In [8]:
###merge train, test and cond by id as key
train = pd.merge(train, cond, left_on="id", right_on="id")
test = pd.merge(test, cond, left_on="id", right_on="id")

In [9]:
y = train["y"]
train = train.drop("y", axis=1)

In [10]:
print(train.shape)
print(test.shape)

(1721, 12)
(313, 12)

In [11]:
train = pd.merge(train, stadium, left_on="stadium", right_on="name")
test = pd.merge(test, stadium, left_on="stadium", right_on="name")
train.head()

,id,year,stage,match,gameday,time,stadium,home_score,away_score,weather,temperature,humidity,name,address,capa
0,13994,2012,Ｊ１,第１節第１日,03/10(土),14:04,ユアテックスタジアム仙台,1,0,雨,3.8,66%,ユアテックスタジアム仙台,宮城県仙台市泉区七北田字柳78,19694
1,14012,2012,Ｊ１,第３節第１日,03/24(土),13:03,ユアテックスタジアム仙台,4,1,曇時々雨,8.9,57%,ユアテックスタジアム仙台,宮城県仙台市泉区七北田字柳78,19694
2,14031,2012,Ｊ１,第５節第１日,04/07(土),14:03,ユアテックスタジアム仙台,2,2,曇,6.1,53%,ユアテックスタジアム仙台,宮城県仙台市泉区七北田字柳78,19694
3,14055,2012,Ｊ１,第７節第１日,04/21(土),19:04,ユアテックスタジアム仙台,4,0,晴,10.4,55%,ユアテックスタジアム仙台,宮城県仙台市泉区七北田字柳78,19694
4,14075,2012,Ｊ１,第１０節第１日,05/06(日),13:04,ユアテックスタジアム仙台,0,1,曇のち雨,16.9,68%,ユアテックスタジアム仙台,宮城県仙台市泉区七北田字柳78,19694

In [12]:
train = train.drop(["stadium", "name", "address", "home_score", "away_score"], axis=1)
test = test.drop(["stadium", "name", "address", "home_score", "away_score"], axis=1)
train.head()

,id,year,stage,match,gameday,time,weather,temperature,humidity,capa
0,13994,2012,Ｊ１,第１節第１日,03/10(土),14:04,雨,3.8,66%,19694
1,14012,2012,Ｊ１,第３節第１日,03/24(土),13:03,曇時々雨,8.9,57%,19694
2,14031,2012,Ｊ１,第５節第１日,04/07(土),14:03,曇,6.1,53%,19694
3,14055,2012,Ｊ１,第７節第１日,04/21(土),19:04,晴,10.4,55%,19694
4,14075,2012,Ｊ１,第１０節第１日,05/06(日),13:04,曇のち雨,16.9,68%,19694

In [13]:
#withdraw start hour from "time"
train["time"] = train["time"].apply(lambda x: x.split(":")[0])
test["time"] = test["time"].apply(lambda x: x.split(":")[0])

#chage type of time from object to float
train["time"] = train["time"].astype(float)
test["time"] = test["time"].astype(float)

#withdraw humid dropped %
train["humidity"] = train["humidity"].apply(lambda x: x.split("%")[0])
test["humidity"] = test["humidity"].apply(lambda x: x.split("%")[0])

#change type of humid from object to float
train["humidity"] = train["humidity"].astype(float)
test["humidity"] = test["humidity"].astype(float)

train.head()

,id,year,stage,match,gameday,time,weather,temperature,humidity,capa
0,13994,2012,Ｊ１,第１節第１日,03/10(土),14.0,雨,3.8,66.0,19694
1,14012,2012,Ｊ１,第３節第１日,03/24(土),13.0,曇時々雨,8.9,57.0,19694
2,14031,2012,Ｊ１,第５節第１日,04/07(土),14.0,曇,6.1,53.0,19694
3,14055,2012,Ｊ１,第７節第１日,04/21(土),19.0,晴,10.4,55.0,19694
4,14075,2012,Ｊ１,第１０節第１日,05/06(日),13.0,曇のち雨,16.9,68.0,19694

In [14]:
train = train.drop("match", axis=1)
test = test.drop("match", axis=1)
train.head()

      id  year stage   gameday  time weather  temperature  humidity   capa
0  13994  2012    Ｊ１  03/10(土)  14.0       雨          3.8      66.0  19694
1  14012  2012    Ｊ１  03/24(土)  13.0    曇時々雨          8.9      57.0  19694
2  14031  2012    Ｊ１  04/07(土)  14.0       曇          6.1      53.0  19694
3  14055  2012    Ｊ１  04/21(土)  19.0       晴         10.4      55.0  19694
4  14075  2012    Ｊ１  05/06(日)  13.0    曇のち雨         16.9      68.0  19694

In [15]:
all_data.head()

NameError: name 'all_data' is not defined

In [16]:
all_data = pd.concat([train, test])
all_data["week"] = all_data["gameday"].apply(lambda x: list(x)[-2])
all_data["weather"] = all_data["weather"].apply(lambda x: list(x)[0])
all_data = all_data.drop("gameday", axis=1)
all_data = pd.get_dummies(all_data)


all_data.head()

,id,year,time,temperature,humidity,capa,stage_Ｊ１,stage_Ｊ２,weather_屋,weather_晴,...,weather_雪,week_休,week_土,week_日,week_月,week_木,week_水,week_火,week_祝,week_金
0,13994,2012,14.0,3.8,66.0,19694,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,14012,2012,13.0,8.9,57.0,19694,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,14031,2012,14.0,6.1,53.0,19694,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,14055,2012,19.0,10.4,55.0,19694,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,14075,2012,13.0,16.9,68.0,19694,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
train = all_data.iloc[:1721, :]
test = all_data.iloc[1721:, :]

In [18]:
train = train.drop("id", axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1720
Data columns (total 21 columns):
year           1721 non-null int64
time           1721 non-null float64
temperature    1721 non-null float64
humidity       1721 non-null float64
capa           1721 non-null int64
stage_Ｊ１       1721 non-null uint8
stage_Ｊ２       1721 non-null uint8
weather_屋      1721 non-null uint8
weather_晴      1721 non-null uint8
weather_曇      1721 non-null uint8
weather_雨      1721 non-null uint8
weather_雪      1721 non-null uint8
week_休         1721 non-null uint8
week_土         1721 non-null uint8
week_日         1721 non-null uint8
week_月         1721 non-null uint8
week_木         1721 non-null uint8
week_水         1721 non-null uint8
week_火         1721 non-null uint8
week_祝         1721 non-null uint8
week_金         1721 non-null uint8
dtypes: float64(3), int64(2), uint8(16)
memory usage: 107.6 KB

In [19]:
test = test.drop("id", axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 312
Data columns (total 21 columns):
year           313 non-null int64
time           313 non-null float64
temperature    313 non-null float64
humidity       313 non-null float64
capa           313 non-null int64
stage_Ｊ１       313 non-null uint8
stage_Ｊ２       313 non-null uint8
weather_屋      313 non-null uint8
weather_晴      313 non-null uint8
weather_曇      313 non-null uint8
weather_雨      313 non-null uint8
weather_雪      313 non-null uint8
week_休         313 non-null uint8
week_土         313 non-null uint8
week_日         313 non-null uint8
week_月         313 non-null uint8
week_木         313 non-null uint8
week_水         313 non-null uint8
week_火         313 non-null uint8
week_祝         313 non-null uint8
week_金         313 non-null uint8
dtypes: float64(3), int64(2), uint8(16)
memory usage: 19.6 KB

# 学習

In [20]:
from keras.models import Sequential
from keras.layers import Input, Dense, Dropout, BatchNormalization, Activation
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

C:\Users\madoc\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [21]:
def create_model():
    
    model = Sequential()
    model.add(Dense(21, input_dim=21, activation="relu"))
    model.add(Dense(42, activation="relu"))
    model.add(Dense(1))

    model.compile(loss="mean_squared_error", optimizer="adam")
    return model

In [24]:
estimator = KerasRegressor(build_fn=create_model, epochs=100, batch_size=10, verbose=1)
estimator.fit(train, y)
y_pred = estimator.predict(test)

Epoch 1/100
1721/1721 [==============================] - 0s 264us/step - loss: 98116169.3202
Epoch 2/100
1721/1721 [==============================] - 0s 145us/step - loss: 90415920.2429
Epoch 3/100
1721/1721 [==============================] - 0s 181us/step - loss: 80467522.5415
Epoch 4/100
1721/1721 [==============================] - 0s 169us/step - loss: 70601607.6551
Epoch 5/100
1721/1721 [==============================] - 0s 142us/step - loss: 67210174.5762
Epoch 6/100
1721/1721 [==============================] - 0s 154us/step - loss: 65546787.6700
Epoch 7/100
1721/1721 [==============================] - 0s 145us/step - loss: 64811974.9576
Epoch 8/100
1721/1721 [==============================] - 0s 191us/step - loss: 65274338.5338
Epoch 9/100
1721/1721 [==============================] - 0s 167us/step - loss: 64905589.8478
Epoch 10/100
1721/1721 [==============================] - 0s 177us/step - loss: 64943150.8960
Epoch 11/100
1721/1721 [==============================] - 0s 174us/step - loss: 64521920.6450
Epoch 12/100
1721/1721 [==============================] - 0s 158us/step - loss: 64865983.1865
Epoch 13/100
1721/1721 [==============================] - 0s 183us/step - loss: 64724305.3794
Epoch 14/100
1721/1721 [==============================] - 0s 158us/step - loss: 64651565.3448
Epoch 15/100
1721/1721 [==============================] - 0s 238us/step - loss: 64624644.6194
Epoch 16/100
1721/1721 [==============================] - 0s 155us/step - loss: 65268977.9082
Epoch 17/100
1721/1721 [==============================] - 0s 145us/step - loss: 64716663.3597
Epoch 18/100
1721/1721 [==============================] - 0s 259us/step - loss: 65272593.4701
Epoch 19/100
1721/1721 [==============================] - 0s 170us/step - loss: 64791506.9773
Epoch 20/100
1721/1721 [==============================] - 0s 220us/step - loss: 64394778.0779
Epoch 21/100
1721/1721 [==============================] - 0s 147us/step - loss: 65237145.9628
Epoch 22/100
1721/1721 [==============================] - 0s 147us/step - loss: 64720895.5674
Epoch 23/100
1721/1721 [==============================] - 0s 162us/step - loss: 64740523.8864
Epoch 24/100
1721/1721 [==============================] - 0s 168us/step - loss: 64546317.5133
Epoch 25/100
1721/1721 [==============================] - 0s 172us/step - loss: 64792196.65100s - loss: 5814392
Epoch 26/100
1721/1721 [==============================] - 0s 205us/step - loss: 64782113.3521
Epoch 27/100
1721/1721 [==============================] - 0s 182us/step - loss: 65025026.0924
Epoch 28/100
1721/1721 [==============================] - 0s 158us/step - loss: 65275284.9123
Epoch 29/100
1721/1721 [==============================] - 0s 167us/step - loss: 64452454.1778
Epoch 30/100
1721/1721 [==============================] - 0s 202us/step - loss: 64980429.5851
Epoch 31/100
1721/1721 [==============================] - 0s 166us/step - loss: 64351823.6432
Epoch 32/100
1721/1721 [==============================] - 0s 162us/step - loss: 64902671.8501
Epoch 33/100
1721/1721 [==============================] - 0s 173us/step - loss: 65370655.3748
Epoch 34/100
1721/1721 [==============================] - 0s 166us/step - loss: 64489221.2969
Epoch 35/100
1721/1721 [==============================] - 0s 163us/step - loss: 64638592.9378
Epoch 36/100
1721/1721 [==============================] - 0s 154us/step - loss: 64481785.1511
Epoch 37/100
1721/1721 [==============================] - 0s 163us/step - loss: 64642951.5997
Epoch 38/100
1721/1721 [==============================] - 0s 162us/step - loss: 64840984.2891
Epoch 39/100
1721/1721 [==============================] - 0s 163us/step - loss: 64384939.4817
Epoch 40/100
1721/1721 [==============================] - 0s 170us/step - loss: 65024043.0715
Epoch 41/100
1721/1721 [==============================] - 0s 163us/step - loss: 64439157.6377
Epoch 42/100
1721/1721 [==============================] - 0s 160us/step - loss: 64803990.3725
Epoch 43/100
1721/1721 [==============================] - 0s 169us/step - loss: 64554945.6002
Epoch 44/100
1721/1721 [==============================] - 0s 153us/step - loss: 64843488.7574
Epoch 45/100
1721/1721 [==============================] - 0s 163us/step - loss: 64436161.0447
Epoch 46/100
1721/1721 [==============================] - 0s 267us/step - loss: 64597793.9773
Epoch 47/100
1721/1721 [==============================] - 0s 196us/step - loss: 64593957.3202
Epoch 48/100
1721/1721 [==============================] - 0s 171us/step - loss: 64589734.1441
Epoch 49/100
1721/1721 [==============================] - 0s 150us/step - loss: 64299627.2109
Epoch 50/100
1721/1721 [==============================] - 0s 169us/step - loss: 64456437.3016
Epoch 51/100
1721/1721 [==============================] - 0s 163us/step - loss: 64307962.1749
Epoch 52/100
1721/1721 [==============================] - 0s 239us/step - loss: 64682458.2747
Epoch 53/100
1721/1721 [==============================] - 0s 202us/step - loss: 64613263.0378
Epoch 54/100
1721/1721 [==============================] - 0s 178us/step - loss: 64686268.62290s - loss: 67897149.
Epoch 55/100
1721/1721 [==============================] - 0s 184us/step - loss: 64374247.5503
Epoch 56/100
1721/1721 [==============================] - 0s 195us/step - loss: 64545719.1888
Epoch 57/100
1721/1721 [==============================] - 0s 169us/step - loss: 64661152.1737
Epoch 58/100
1721/1721 [==============================] - 0s 171us/step - loss: 64731073.2562
Epoch 59/100
1721/1721 [==============================] - 0s 188us/step - loss: 64490502.2347
Epoch 60/100
1721/1721 [==============================] - 0s 160us/step - loss: 64471820.3835
Epoch 61/100
1721/1721 [==============================] - 0s 171us/step - loss: 64414035.5200
Epoch 62/100
1721/1721 [==============================] - 0s 169us/step - loss: 64243373.7072
Epoch 63/100
1721/1721 [==============================] - 0s 192us/step - loss: 64579152.0744
Epoch 64/100
1721/1721 [==============================] - 0s 217us/step - loss: 64372874.5677
Epoch 65/100
1721/1721 [==============================] - 0s 219us/step - loss: 64622757.9844
Epoch 66/100
1721/1721 [==============================] - 0s 252us/step - loss: 64380236.2016
Epoch 67/100
1721/1721 [==============================] - 0s 162us/step - loss: 64695248.2371
Epoch 68/100
1721/1721 [==============================] - 0s 162us/step - loss: 64457154.3672
Epoch 69/100
1721/1721 [==============================] - 0s 155us/step - loss: 64099610.0526
Epoch 70/100
1721/1721 [==============================] - 0s 157us/step - loss: 64347361.7676
Epoch 71/100
1721/1721 [==============================] - 0s 198us/step - loss: 64341816.1633
Epoch 72/100
1721/1721 [==============================] - 0s 201us/step - loss: 64928865.5125
Epoch 73/100
1721/1721 [==============================] - 0s 192us/step - loss: 64634924.3742
Epoch 74/100
1721/1721 [==============================] - 0s 195us/step - loss: 64997740.9727
Epoch 75/100
1721/1721 [==============================] - 0s 154us/step - loss: 64298211.7400
Epoch 76/100
1721/1721 [==============================] - 0s 154us/step - loss: 64434042.5880
Epoch 77/100
1721/1721 [==============================] - 0s 224us/step - loss: 65072311.1028
Epoch 78/100
1721/1721 [==============================] - 0s 174us/step - loss: 64454545.2894
Epoch 79/100
1721/1721 [==============================] - 0s 173us/step - loss: 64233975.0610
Epoch 80/100
1721/1721 [==============================] - 0s 158us/step - loss: 64188076.7722
Epoch 81/100
1721/1721 [==============================] - 0s 152us/step - loss: 64277648.5944
Epoch 82/100
1721/1721 [==============================] - 0s 162us/step - loss: 64326917.91430s - loss: 67300761.
Epoch 83/100
1721/1721 [==============================] - 0s 168us/step - loss: 64853277.9221
Epoch 84/100
1721/1721 [==============================] - 0s 172us/step - loss: 64540850.4172
Epoch 85/100
1721/1721 [==============================] - 0s 191us/step - loss: 64567000.6309
Epoch 86/100
1721/1721 [==============================] - 0s 170us/step - loss: 64603702.9111
Epoch 87/100

1721/1721 [==============================] - 0s 192us/step - loss: 64275151.5340
Epoch 88/100
1721/1721 [==============================] - 0s 171us/step - loss: 64345539.8396
Epoch 89/100
1721/1721 [==============================] - 0s 153us/step - loss: 64672930.1790
Epoch 90/100
1721/1721 [==============================] - 0s 169us/step - loss: 64470359.8156
Epoch 91/100
1721/1721 [==============================] - 1s 299us/step - loss: 64422068.5381
Epoch 92/100
1721/1721 [==============================] - 0s 248us/step - loss: 64601545.3504
Epoch 93/100
1721/1721 [==============================] - 0s 231us/step - loss: 64563514.7542
Epoch 94/100
1721/1721 [==============================] - 0s 142us/step - loss: 64322842.9564
Epoch 95/100
1721/1721 [==============================] - 0s 195us/step - loss: 64495468.8303
Epoch 96/100
1721/1721 [==============================] - 0s 158us/step - loss: 64145901.1180
Epoch 97/100
1721/1721 [==============================] - 0s 125us/step - loss: 64259907.0378
Epoch 98/100
1721/1721 [==============================] - 0s 126us/step - loss: 64130884.6554
Epoch 99/100
1721/1721 [==============================] - 0s 183us/step - loss: 65034711.9895
Epoch 100/100
1721/1721 [==============================] - 0s 124us/step - loss: 64344464.1522
313/313 [==============================] - 0s 170us/step